.header {
  position: fixed;
  background-color: transparent;
  color: var(--color-text-light);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding: 0 20px;
}

.header-background {
  background-color: rgb(36, 27, 18, 0.8);
}

.header-title {
  font-size: 30px;
  margin: 5px 10px;
  text-shadow: 1px 1px 2px black;
}

.links {
  display: flex;
  padding-right: 40px;
  justify-content: center;
  align-items: center;
}

.links li {
  display: flex;
}

.logo {
  width: 80%;
  margin: 10px;
}

.nav-link {
  color: var(--color-text-light);
  text-decoration: none;
  margin: 10px;
}

.logo-link {
  text-align: right;
}

.nav-link:hover {
  border-bottom: 1px solid var(--color-text-light);
}

.nav-link:visited {
  color: var(--color-text-light);
}

.header ul {
  list-style-type: none;
}

.hidden-mobile {
  display: none;
}
