.hero {
  width: 100vw;
  min-height: 50vw;
  background-color: var(--color-background-dark);
}

.hero-image {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .hero-image {
    width: 40%;
    height: 40%;
  }

  .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .hero-container > * {
    width: 40%;
  }
}
