.images {
  background-color: var(--color-background-light);
  padding: var(--padding-mobile);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.display-image {
  width: 80%;
  padding: 30px;
}

@media only screen and (min-width: 768px) {
  .images {
    padding: var(--padding-desktop);
  }

  .display-image {
    width: 25%;
    padding: 30px;
  }
}
